doctype html
html
  head
    title= name + 's FilebLOG'
    link(rel='stylesheet', href='/stylesheets/blog.css')
    meta(charset='utf-8')
  body
    div(id='body')
      header(id='head')
        h1(id='title')= name
      article(id='article')
        div(class="contents")
          - for (var i = 0; i < length; i++) {
            header(class="contentsHeader")
              h2(class="contentsTitle")= data[i].title
              h3(class="contentsTime")= data[i].time
            p(class="contentsDescription")= data[i].description
            p(class="contentsFiles")
              a(href="../files/"+data[i].path)= data[i].fileId
          - }
    footer(id="foot")
      span(id="information") developed by JinhyeokBang